@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
   
    background: #081b29;

color: #ededed;
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {

    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
navbar a.active {

color: #00abf0;


}

.home {
    height: 100vh;
    display: flex;
    background: url('https://royalehosting.net/_app/immutable/assets/header-map.9a1284d0.svg') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0 10%;
    

    
}

.home-content {
max-width: 600px;
}

.home-content h1 {

    font-size: 56px;
    font-weight: 700;
    line-height: 1.2
}

.home-content h3 {

    font-size: 32px;
    font-weight: 700;
    color: #00abf0;

}

.home-content p {
    font-size: 16px;
margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
justify-content: space-between;
width: 345px;
height: 50;
background: transparent;

}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;

}
.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background:#00abf0;

}

.btn-box a::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
    height: 100%;

}



.footer {
    
    color: #ededed;
    text-align:center;
    
    height: 100;
    
}



.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ededed;
    border-radius: 3px;
}

button {
    background-color: #00abf0;
    color: #ededed;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}





.pricing-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.plan {
    width: 300px;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.plan h2 {
    font-size: 24px;
}

.price {
    font-size: 20px;
    margin-top: 10px;
    color: #00abf0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

li {
    margin: 5px 0;
}

button {
    background-color: transparent;
    color: #ededed;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

.packages {

    color: #00abf0;
    text-align: center;
    font-weight: 700;
    font-size: 56px;

}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.portfolio-item {
    flex: 1;
    max-width: 300px;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

.portfolio-item h3 {
    font-size: 18px;
    margin-top: 10px;
    color: #ededed;
    font-size: 56px;
}

.porto {
    font-size: 18px;
    margin-top: 10px;
    color: #00abf0;
    font-size: 56px;
    text-align: center;

}

.aboutmeh3 {

color: #00abf0;
font-size: 56px;
text-align: center;
font-weight: 700;

}


.aboutmetext {

font-size: 16px;
color: #ededed;
font-weight: 400;
text-align: center;


}


.purchase {

height: 25vh;

    align-items: center;
    text-align: center;

}



.purchase a {


    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.purchase a:hover {

    color: #00abf0;

}

.purchase a::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;

}

.contacth3 {

text-align: center;
font-size: 56px;
color: #00abf0;
font-weight: 700;

}

.contactbutton a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.contactbutton a:hover {
    color: #00abf0;
}

.contactbutton a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.contactbutton, .hireme {

    height: 50vh;
text-align: center;
align-items: center;

}