@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
   
    background: #081b29;

color: #ededed;
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {

    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
navbar a.active {

color: #00abf0;


}

form {

    text-align: center;
    border: 1px solid #00abf0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 50%;
    margin: auto;
    height:center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 50%;


}
label, input {
    margin-bottom: 10px;
    display: block;
    align-items: center;
    width: 50%;
    margin: auto;
    left: 50%;
    height: 50%;
    flex-wrap: wrap;
}
button {
    height: 10vh;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: #00abf0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
